.wrapper {
  width: 1240px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculator img {
  object-fit: cover;
  height: 60px;
  background-color: blueviolet;
  color: blueviolet;
}

.header {
  display: flex;
  align-items: center;
}

.counter {
  display: flex;
  justify-content: center;
  font-size: 100px;
}

.text {
  margin-left: 20px;
  font-size: 34px;
  font-family: "Montserrat";
  line-height: 60px;
}

.d-flex {
  display: flex;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.button {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.reset {
  display: flex;
  justify-content: center;
}
